.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.004883;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.677734;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.666000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.900879;font-style:normal;font-weight:normal;visibility:visible;}
.m1{transform:matrix(0.242536,0.000000,-0.060634,0.242536,0,0);-ms-transform:matrix(0.242536,0.000000,-0.060634,0.242536,0,0);-webkit-transform:matrix(0.242536,0.000000,-0.060634,0.242536,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m2{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._3f{margin-left:-1657.254916px;}
._51{margin-left:-1582.748890px;}
._13{margin-left:-1560.815281px;}
._21{margin-left:-1536.542064px;}
._1a{margin-left:-1534.572698px;}
._36{margin-left:-1486.228950px;}
._1{margin-left:-1461.242093px;}
._39{margin-left:-1437.399431px;}
._4b{margin-left:-1436.246919px;}
._25{margin-left:-1412.380379px;}
._57{margin-left:-1388.330134px;}
._55{margin-left:-1365.053713px;}
._5f{margin-left:-1340.420347px;}
._30{margin-left:-1316.686107px;}
._2c{width:26.819590px;}
._35{width:28.109423px;}
._9{width:30.159180px;}
._8{width:33.072591px;}
._0{width:36.072591px;}
._56{width:41.992408px;}
._12{width:45.060311px;}
._11{width:48.097330px;}
._24{width:51.134440px;}
._23{width:53.258931px;}
._f{width:54.288340px;}
._1b{width:57.335200px;}
._6{width:60.288340px;}
._4a{width:63.115900px;}
._49{width:66.103500px;}
._45{width:69.335230px;}
._41{width:72.288340px;}
._32{width:73.437788px;}
._2b{width:75.335200px;}
._26{width:78.100840px;}
._b{width:81.475840px;}
._7{width:84.522730px;}
._59{width:90.475840px;}
._58{width:93.475855px;}
._14{width:96.475840px;}
._29{width:99.475840px;}
._10{width:102.663340px;}
._5c{width:105.220402px;}
._3{width:108.663340px;}
._61{width:114.663340px;}
._19{width:117.663340px;}
._33{width:119.888892px;}
._34{width:121.038370px;}
._38{width:124.486519px;}
._22{width:129.757120px;}
._3b{width:132.803980px;}
._50{width:135.663340px;}
._4c{width:138.663340px;}
._47{width:141.920585px;}
._5e{width:145.052505px;}
._2d{width:147.029502px;}
._2e{width:148.192240px;}
._52{width:153.991480px;}
._5b{width:157.387498px;}
._4e{width:159.803980px;}
._62{width:162.757120px;}
._16{width:168.991450px;}
._28{width:172.880249px;}
._e{width:175.178980px;}
._1c{width:178.947086px;}
._5{width:181.178950px;}
._46{width:190.178950px;}
._40{width:193.178965px;}
._1f{width:194.278360px;}
._31{width:196.741480px;}
._37{width:199.366450px;}
._c{width:202.319590px;}
._3c{width:205.366450px;}
._48{width:214.319590px;}
._42{width:217.366480px;}
._5d{width:219.973001px;}
._3e{width:223.950494px;}
._d{width:226.553950px;}
._2{width:229.553980px;}
._4f{width:232.366450px;}
._43{width:241.507090px;}
._20{width:242.639180px;}
._1e{width:247.694590px;}
._a{width:249.926485px;}
._60{width:259.835200px;}
._2f{width:266.022730px;}
._2a{width:268.694590px;}
._1d{width:271.113955px;}
._3a{width:277.882090px;}
._5a{width:283.882090px;}
._44{width:286.882075px;}
._17{width:289.882090px;}
._27{width:295.882090px;}
._53{width:299.069590px;}
._4{width:302.097839px;}
._4d{width:304.882090px;}
._18{width:311.022730px;}
._63{width:314.097950px;}
._3d{width:326.210230px;}
._15{width:362.397730px;}
._54{width:370.770205px;}
.fc4{color:rgb(67,67,67);}
.fc0{color:rgb(19,79,92);}
.fc2{color:rgb(0,0,0);}
.fc5{color:rgb(102,102,102);}
.fc1{color:rgb(233,29,99);}
.fc3{color:rgb(153,153,153);}
.fs2{font-size:36.000000px;}
.fs0{font-size:43.979999px;}
.fs3{font-size:45.333546px;}
.fs1{font-size:55.980000px;}
.y0{bottom:0.000000px;}
.y1{bottom:0.750000px;}
.y28{bottom:15.000000px;}
.y27{bottom:50.250000px;}
.y26{bottom:72.000000px;}
.y25{bottom:87.750000px;}
.y24{bottom:103.500000px;}
.y4b{bottom:105.750000px;}
.y23{bottom:119.250000px;}
.y4a{bottom:121.500000px;}
.y22{bottom:135.000000px;}
.y49{bottom:137.250000px;}
.y21{bottom:150.750000px;}
.y48{bottom:153.000000px;}
.y20{bottom:166.500000px;}
.y47{bottom:168.750000px;}
.y1f{bottom:182.250000px;}
.y46{bottom:184.500000px;}
.y1e{bottom:198.000000px;}
.y45{bottom:200.250000px;}
.y1d{bottom:213.750000px;}
.y44{bottom:216.000000px;}
.y1c{bottom:229.500000px;}
.y43{bottom:237.750000px;}
.y1b{bottom:245.250000px;}
.y42{bottom:253.500000px;}
.y1a{bottom:267.000000px;}
.y41{bottom:275.250000px;}
.y19{bottom:282.750000px;}
.y40{bottom:294.000000px;}
.y18{bottom:304.500000px;}
.y17{bottom:323.250000px;}
.y3f{bottom:324.000000px;}
.y3e{bottom:339.750000px;}
.y16{bottom:353.250000px;}
.y3d{bottom:355.500000px;}
.y3c{bottom:371.250000px;}
.y15{bottom:375.000000px;}
.y3b{bottom:387.000000px;}
.y14{bottom:396.750000px;}
.y3a{bottom:402.750000px;}
.y13{bottom:412.500000px;}
.y39{bottom:418.500000px;}
.y5a{bottom:426.000000px;}
.y12{bottom:428.250000px;}
.y38{bottom:434.250000px;}
.y59{bottom:441.750000px;}
.y11{bottom:444.000000px;}
.y37{bottom:456.000000px;}
.y58{bottom:457.500000px;}
.y10{bottom:459.750000px;}
.y36{bottom:471.750000px;}
.y57{bottom:473.250000px;}
.yf{bottom:475.500000px;}
.y56{bottom:489.000000px;}
.ye{bottom:491.250000px;}
.y35{bottom:493.500000px;}
.y55{bottom:504.750000px;}
.y34{bottom:512.250000px;}
.yd{bottom:513.000000px;}
.y54{bottom:520.500000px;}
.y53{bottom:536.250000px;}
.y33{bottom:542.250000px;}
.yc{bottom:551.250000px;}
.y32{bottom:558.000000px;}
.yb{bottom:571.500000px;}
.y31{bottom:573.750000px;}
.y52{bottom:579.750000px;}
.ya{bottom:587.250000px;}
.y30{bottom:589.500000px;}
.y51{bottom:601.500000px;}
.y9{bottom:603.000000px;}
.y2f{bottom:605.250000px;}
.y8{bottom:618.750000px;}
.y50{bottom:620.250000px;}
.y2e{bottom:621.000000px;}
.y7{bottom:634.500000px;}
.y2d{bottom:636.750000px;}
.y4f{bottom:650.250000px;}
.y6{bottom:656.250000px;}
.y2c{bottom:658.500000px;}
.y4e{bottom:672.000000px;}
.y2b{bottom:674.250000px;}
.y2a{bottom:690.000000px;}
.y4d{bottom:690.750000px;}
.y5{bottom:695.250000px;}
.y4{bottom:711.750000px;}
.y4c{bottom:720.750000px;}
.y3{bottom:729.750000px;}
.y29{bottom:730.500000px;}
.y2{bottom:744.750000px;}
.h4{height:23.976000px;}
.h5{height:30.214985px;}
.h6{height:30.601318px;}
.h2{height:35.175410px;}
.h3{height:37.310889px;}
.h1{height:791.250000px;}
.h0{height:792.000000px;}
.w0{width:612.000000px;}
.x0{left:0.000000px;}
.x1{left:89.250000px;}
.x9{left:108.000000px;}
.xa{left:126.000000px;}
.x10{left:173.859788px;}
.x3{left:179.903340px;}
.x4{left:185.946900px;}
.x5{left:191.990453px;}
.x6{left:198.034013px;}
.xb{left:204.077565px;}
.xc{left:216.164678px;}
.xd{left:222.208238px;}
.x12{left:228.251790px;}
.x13{left:234.295350px;}
.x11{left:240.338903px;}
.x7{left:246.382463px;}
.x8{left:252.426015px;}
.x1e{left:258.469575px;}
.xe{left:264.513128px;}
.xf{left:270.556688px;}
.x14{left:300.774465px;}
.x15{left:306.818025px;}
.x16{left:330.992250px;}
.x17{left:337.035803px;}
.x18{left:343.079363px;}
.x19{left:349.122915px;}
.x1a{left:397.471343px;}
.x1b{left:403.514925px;}
.x1c{left:415.602038px;}
.x1d{left:421.645568px;}
.x2{left:524.250000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._3f{margin-left:-2209.673222pt;}
._51{margin-left:-2110.331853pt;}
._13{margin-left:-2081.087041pt;}
._21{margin-left:-2048.722752pt;}
._1a{margin-left:-2046.096931pt;}
._36{margin-left:-1981.638599pt;}
._1{margin-left:-1948.322790pt;}
._39{margin-left:-1916.532575pt;}
._4b{margin-left:-1914.995892pt;}
._25{margin-left:-1883.173838pt;}
._57{margin-left:-1851.106845pt;}
._55{margin-left:-1820.071617pt;}
._5f{margin-left:-1787.227129pt;}
._30{margin-left:-1755.581476pt;}
._2c{width:35.759453pt;}
._35{width:37.479231pt;}
._9{width:40.212240pt;}
._8{width:44.096788pt;}
._0{width:48.096788pt;}
._56{width:55.989878pt;}
._12{width:60.080414pt;}
._11{width:64.129774pt;}
._24{width:68.179253pt;}
._23{width:71.011908pt;}
._f{width:72.384453pt;}
._1b{width:76.446933pt;}
._6{width:80.384453pt;}
._4a{width:84.154534pt;}
._49{width:88.138001pt;}
._45{width:92.446973pt;}
._41{width:96.384453pt;}
._32{width:97.917051pt;}
._2b{width:100.446933pt;}
._26{width:104.134453pt;}
._b{width:108.634453pt;}
._7{width:112.696973pt;}
._59{width:120.634453pt;}
._58{width:124.634473pt;}
._14{width:128.634453pt;}
._29{width:132.634453pt;}
._10{width:136.884453pt;}
._5c{width:140.293869pt;}
._3{width:144.884453pt;}
._61{width:152.884453pt;}
._19{width:156.884453pt;}
._33{width:159.851856pt;}
._34{width:161.384493pt;}
._38{width:165.982025pt;}
._22{width:173.009493pt;}
._3b{width:177.071973pt;}
._50{width:180.884453pt;}
._4c{width:184.884453pt;}
._47{width:189.227446pt;}
._5e{width:193.403340pt;}
._2d{width:196.039336pt;}
._2e{width:197.589653pt;}
._52{width:205.321973pt;}
._5b{width:209.849998pt;}
._4e{width:213.071973pt;}
._62{width:217.009493pt;}
._16{width:225.321933pt;}
._28{width:230.506999pt;}
._e{width:233.571973pt;}
._1c{width:238.596114pt;}
._5{width:241.571933pt;}
._46{width:253.571933pt;}
._40{width:257.571953pt;}
._1f{width:259.037814pt;}
._31{width:262.321973pt;}
._37{width:265.821933pt;}
._c{width:269.759453pt;}
._3c{width:273.821933pt;}
._48{width:285.759453pt;}
._42{width:289.821973pt;}
._5d{width:293.297335pt;}
._3e{width:298.600658pt;}
._d{width:302.071933pt;}
._2{width:306.071973pt;}
._4f{width:309.821933pt;}
._43{width:322.009453pt;}
._20{width:323.518907pt;}
._1e{width:330.259453pt;}
._a{width:333.235313pt;}
._60{width:346.446933pt;}
._2f{width:354.696973pt;}
._2a{width:358.259453pt;}
._1d{width:361.485273pt;}
._3a{width:370.509453pt;}
._5a{width:378.509453pt;}
._44{width:382.509433pt;}
._17{width:386.509453pt;}
._27{width:394.509453pt;}
._53{width:398.759453pt;}
._4{width:402.797119pt;}
._4d{width:406.509453pt;}
._18{width:414.696973pt;}
._63{width:418.797267pt;}
._3d{width:434.946973pt;}
._15{width:483.196973pt;}
._54{width:494.360273pt;}
.fs2{font-size:48.000000pt;}
.fs0{font-size:58.639999pt;}
.fs3{font-size:60.444728pt;}
.fs1{font-size:74.640000pt;}
.y0{bottom:0.000000pt;}
.y1{bottom:1.000000pt;}
.y28{bottom:20.000000pt;}
.y27{bottom:67.000000pt;}
.y26{bottom:96.000000pt;}
.y25{bottom:117.000000pt;}
.y24{bottom:138.000000pt;}
.y4b{bottom:141.000000pt;}
.y23{bottom:159.000000pt;}
.y4a{bottom:162.000000pt;}
.y22{bottom:180.000000pt;}
.y49{bottom:183.000000pt;}
.y21{bottom:201.000000pt;}
.y48{bottom:204.000000pt;}
.y20{bottom:222.000000pt;}
.y47{bottom:225.000000pt;}
.y1f{bottom:243.000000pt;}
.y46{bottom:246.000000pt;}
.y1e{bottom:264.000000pt;}
.y45{bottom:267.000000pt;}
.y1d{bottom:285.000000pt;}
.y44{bottom:288.000000pt;}
.y1c{bottom:306.000000pt;}
.y43{bottom:317.000000pt;}
.y1b{bottom:327.000000pt;}
.y42{bottom:338.000000pt;}
.y1a{bottom:356.000000pt;}
.y41{bottom:367.000000pt;}
.y19{bottom:377.000000pt;}
.y40{bottom:392.000000pt;}
.y18{bottom:406.000000pt;}
.y17{bottom:431.000000pt;}
.y3f{bottom:432.000000pt;}
.y3e{bottom:453.000000pt;}
.y16{bottom:471.000000pt;}
.y3d{bottom:474.000000pt;}
.y3c{bottom:495.000000pt;}
.y15{bottom:500.000000pt;}
.y3b{bottom:516.000000pt;}
.y14{bottom:529.000000pt;}
.y3a{bottom:537.000000pt;}
.y13{bottom:550.000000pt;}
.y39{bottom:558.000000pt;}
.y5a{bottom:568.000000pt;}
.y12{bottom:571.000000pt;}
.y38{bottom:579.000000pt;}
.y59{bottom:589.000000pt;}
.y11{bottom:592.000000pt;}
.y37{bottom:608.000000pt;}
.y58{bottom:610.000000pt;}
.y10{bottom:613.000000pt;}
.y36{bottom:629.000000pt;}
.y57{bottom:631.000000pt;}
.yf{bottom:634.000000pt;}
.y56{bottom:652.000000pt;}
.ye{bottom:655.000000pt;}
.y35{bottom:658.000000pt;}
.y55{bottom:673.000000pt;}
.y34{bottom:683.000000pt;}
.yd{bottom:684.000000pt;}
.y54{bottom:694.000000pt;}
.y53{bottom:715.000000pt;}
.y33{bottom:723.000000pt;}
.yc{bottom:735.000000pt;}
.y32{bottom:744.000000pt;}
.yb{bottom:762.000000pt;}
.y31{bottom:765.000000pt;}
.y52{bottom:773.000000pt;}
.ya{bottom:783.000000pt;}
.y30{bottom:786.000000pt;}
.y51{bottom:802.000000pt;}
.y9{bottom:804.000000pt;}
.y2f{bottom:807.000000pt;}
.y8{bottom:825.000000pt;}
.y50{bottom:827.000000pt;}
.y2e{bottom:828.000000pt;}
.y7{bottom:846.000000pt;}
.y2d{bottom:849.000000pt;}
.y4f{bottom:867.000000pt;}
.y6{bottom:875.000000pt;}
.y2c{bottom:878.000000pt;}
.y4e{bottom:896.000000pt;}
.y2b{bottom:899.000000pt;}
.y2a{bottom:920.000000pt;}
.y4d{bottom:921.000000pt;}
.y5{bottom:927.000000pt;}
.y4{bottom:949.000000pt;}
.y4c{bottom:961.000000pt;}
.y3{bottom:973.000000pt;}
.y29{bottom:974.000000pt;}
.y2{bottom:993.000000pt;}
.h4{height:31.968000pt;}
.h5{height:40.286647pt;}
.h6{height:40.801757pt;}
.h2{height:46.900546pt;}
.h3{height:49.747852pt;}
.h1{height:1055.000000pt;}
.h0{height:1056.000000pt;}
.w0{width:816.000000pt;}
.x0{left:0.000000pt;}
.x1{left:119.000000pt;}
.x9{left:144.000000pt;}
.xa{left:168.000000pt;}
.x10{left:231.813050pt;}
.x3{left:239.871120pt;}
.x4{left:247.929200pt;}
.x5{left:255.987270pt;}
.x6{left:264.045350pt;}
.xb{left:272.103420pt;}
.xc{left:288.219570pt;}
.xd{left:296.277650pt;}
.x12{left:304.335720pt;}
.x13{left:312.393800pt;}
.x11{left:320.451870pt;}
.x7{left:328.509950pt;}
.x8{left:336.568020pt;}
.x1e{left:344.626100pt;}
.xe{left:352.684170pt;}
.xf{left:360.742250pt;}
.x14{left:401.032620pt;}
.x15{left:409.090700pt;}
.x16{left:441.323000pt;}
.x17{left:449.381070pt;}
.x18{left:457.439150pt;}
.x19{left:465.497220pt;}
.x1a{left:529.961790pt;}
.x1b{left:538.019900pt;}
.x1c{left:554.136050pt;}
.x1d{left:562.194090pt;}
.x2{left:699.000000pt;}
}
